@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

*:focus{
    outline: none;
}

img{ 
    image-rendering: crisp-edges;
 image-rendering: -moz-crisp-edges;          /* Firefox */
 image-rendering: -o-crisp-edges;            /* Opera */
 image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
 -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* .translated-ltr {
    margin-top: -40px;
} */

.goog-te-banner-frame {
    display: none;
    margin-top: -20px;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-gadget>div>select {
    color: black !important;
    border: 1px solid #006D57;
    padding: 5px 0px;
    margin-top: 20px !important;
    cursor: pointer;
    border-radius: 5px;
}

.goog-te-gadget>span {
    display: none !important;
}

div > iframe, #goog-gt-tt {
    display: none !important;
}